:root{
    --base-text-color : #00f9ff;
    --base-font-family : 'Open Sans', sans-serif;
}
body{
    background-color: #24273a;
    background-image: url('../img/wallpaper.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(1px) brightness(20%);
    font-family: var(--base-font-family);
    padding-top: 5%;
}
a{
    color: inherit;
    text-decoration: inherit;
}
a:hover{
    color: inherit;
    font-weight: 800;
}

#content{
    border-top: 1px;
    border-left: 0px;
    border-right: 0px;
    border-bottom:0px;
    border-style: solid;
    border-color:#00f9ff;
    width: 70%;
    margin: auto;
}

#title-startpage{
    color: white;
}

#clock{
    font-size: 14px;
}

#weather-info{
    color: white;
    font-size: 15px;
    font-weight: 600;
}
#weather-temp{
    border-bottom: 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: white;
    border-style: solid;
}
#countdown{
    color: white;
    font-size: 20px;
    position: fixed;
    bottom: 0;
}
#countdown-number{
    font-family: 'Seven Segment', sans-serif;
    font-weight: 900;
    color: var(--base-text-color);
}

.base-text{
    color: var(--base-text-color);
    font-family: var(--base-font-family);
}

.panel-title{
    color: var(--base-text-color);
}

.panel-body{
    font-size: 12px;
    color: white;
}

.clock-panel{
    color: var(--base-text-color);
    font-size: 12px;
    text-transform: uppercase;
}
.app-icon{
    height: 15px;
    width: 15px;
}